
*.idea
.idea/*
.idea/workspace.xml
dir_to_ignore/ur_log
dir_to_ignore/.idea
dir_to_ignore/idea
idea/*
ur_log/*
URBasic/_pycache/*
adf.py
*.pyc
Archive/*
.DS_Store
.DS_Store
.vscode/settings.json
pilotfabrik_env/*
MODELS/*
ur_log/*
URBasic/*
hand_detection/_pycache/*
hand_detection/__pycache__/*
hand_detection/hand_landmarker.task
hand_landmarker.task
gesture_recognizer.task